@import "tailwindcss";

:root {
  --background: linear-gradient(0deg,rgba(5, 11, 15, 1) 0%, rgba(14, 18, 23, 1) 100%);
  --foreground: #ffffff
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

::-webkit-scrollbar {
  width: 0px;
}
::-webkit-scrollbar-thumb {
  background: gray; 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(98, 97, 97); 
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.chrome-picker {
  color: #b0bec5;
}

.chrome-picker input {
  color: white !important;
  background-color: #1a1e23 !important;
  border: 1px solid #3e4a57 !important;
  border-radius: 50px;
}

.chrome-picker label {
  color: #b0bec5 !important;
}

.animated-gradient:hover {
  background-image: linear-gradient(
    270deg,
    #00c9ff,
    #2afadf,
    #4facfe,
    #6f86d6,
    #8e44ad,
    #6f86d6,
    #4facfe,
    #2afadf,
    #00c9ff
  );
  background-size: 600% 600%;
  color: #1a1e23;
  border-color: #1a1e23;
}

@theme {
  --animate-wiggle: wiggle 9s ease-in-out infinite;
  @keyframes wiggle {
    0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
  }
}